.button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 11px;
    -fx-border-color: #c1c1c1;
    -fx-border-radius: 10px;
}

.button:hover {
    -fx-background-color: #7cffcd;
}
/*
.table-column {
    -fx-background-color: #deffdc;
    -fx-border-color: #84ff95;
}
*/

VBox {
    -fx-background-color: linear-gradient(#ccecff 0%, #acffda 100%);
    -fx-border-width: 2px;
    -fx-border-color: #ccecff;
}


.table-view .column-header-background, .table-view .filler{
    -fx-background-color: linear-gradient(#ccecff 0%, #acffda 100%);
}

.table-view .column-header, .table-view {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-background-radius: 10;
}

.table-row-cell{
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #bccdc6;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}